pipeline/GetInputCSVFiles.json
{
	"name": "GetInputCSVFiles",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataLakeFiles",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.firstrow.Id",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Test",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TestFileName",
								"value": "test.cav"
							}
						}
					]
				}
			}
		],
		"variables": {
			"TestFileName": {
				"type": "String",
				"defaultValue": "category.csv"
			}
		},
		"annotations": []
	}
}